# General
node_modules/
.env
*.env
.DS_Store

# Ruby/Bundler
frontend/.bundle/
frontend/vendor/
frontend/Gemfile.lock # optional

# Android
android/.gradle/
android/build/

# iOS
frontend/ios/Pods/
frontend/ios/build/
frontend/ios/.xcode.env.local
frontend/ios/frontend.xcworkspace/

